<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />

    <link href='https://fonts.googleapis.com/css?family=Poppins:400,500,300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css"> 
    <link href="../css/rif.css" rel="stylesheet" />

    <script src="../libs/jquery/jquery-1.12.1.min.js"></script>
    <title>RIF Dev</title>
</head>
<body>

    <header>{% include "partials/logo-nav.html" %}</header>

    <div class="container page-wrapper">

        <div class="page-content">
            {% block content %}
            <!-- start module markup here-->
            <!-- end module markup here-->
            {% endblock %}
        </div>

        <!-- bottom footer -->
        {% include "partials/main-footer.html" %}

    </div><!-- /.container-->

    <script src="../libs/bootstrap/javascripts/bootstrap.min.js"></script>
    <script src="../scripts/third-party/freewall.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
    <script data-main="../scripts/rif-main" src="../scripts/require.js"></script>
</body>
</html>