{% extends "shell.html" %}

{% block content %}

<div class="content-callout-hero module">
    <div class="row">
        <div class="image-wrapper">
            <img src="../images/cms/content-callout-hero-placeholder.jpg" alt="Image Title" />
        </div><!-- /.wrapper -->
    </div><!-- /.row -->

    <div class="content">
        <div class="row">
            <div class="content-wrapper">
                <h3>Southside Zine</h3>
                <p>Etiam porta sem malesuada magna mollis euismod. Maecenas sed diam eget risus varius blandit sit amet non magna. Fermentum massa justo sit amet risus.</p>
            </div>
        </div>       
    </div><!-- /.content -->


</div><!-- /.content-callout-hero -->
{% endblock %}  