{% extends "shell.html" %}

{% block content %}

<br />
<br />
<br />
<br />

<div class="three-column-circle-image-text module">

    {% include "partials/rif-book.html" %}

    <h1 class="rif-book-margin-top">Why Reading Matters</h1>

    <div class="three-equal-col">
        <div>
            <div class="circle-img large white">
                <img src="../images/cms/three-col-circle-img.jpg" alt="Image Title" />
            </div>
            <h3>93 Million of U.S. Adults</h3>
            <p>read at or below the basic level needed to contribute successfully to society.</p>
        </div>
        <div>
            <div class="circle-img large purple">
                <img src="../images/cms/three-col-circle-img.jpg" alt="Image Title" />
            </div>
            <h3>47% of 4th Graders </h3>
            <p>from low-income families scored below the basic reading level on the National Assessment of Educational Progress (NAEP).</p>
        </div>
        <div>
            <div class="circle-img large blue">
                <img src="../images/cms/three-col-circle-img.jpg" alt="Image Title" />
            </div>
            <h3>61% of Low Income Families</h3>
            <p>have no books in their homes, attend schools with no libraries, and have limited access to public libraries, resulting in absenteeism and lower high school graduation rates.</p>
        </div>
    </div>

</div><!-- /.three-column-callout -->
{% endblock %}
