{% extends "shell.html" %}

{% block content %}

<div class="timeline module">

    {% include "partials/rif-book.html" %}

    <h1 class="rif-book-margin-top">Our Progress</h1>

    <div class="timeline-wrapper">
        
        <div class="top two-equal-col">
            <div class="left">
                1972
            </div>
            <div class="right">
                Today
            </div>
        </div>

        <hr/>

        <div class="bottom three-equal-col">
            <div class="left">
                <h3>4,000,000</h3>
                <h5>New Books Distributed</h5>
            </div>
            <div class="middle">
                <h3>48,000</h3>
                <h5>Children Reached Annually</h5>
            </div>
            <div class="right">
                <h3>94</h3>
                <h5>Chicago Schools Served</h5>
            </div>
        </div>

        <!-- optional images --> 
        <div class="image-collage">
            <div class="img-overlay purple">
                <img src="../images/cms/timeline-photos-210x200.jpg"/>
            </div>
            <div class="img-overlay white">
                <img src="../images/cms/timeline-photos-295x215.jpg"/>
            </div>
            <div class="img-overlay blue">
                <img src="../images/cms/timeline-photos-165x200.jpg"/>
            </div>
            <div class="img-overlay green"> 
                <img src="../images/cms/timeline-photos-305x215.jpg"/>
            </div>
            <div class="square img-overlay orange">
                <img src="../images/cms/timeline-photos-162x162.jpg" /> 
            </div>
        </div>

    </div><!-- /.timeline-wrapper -->


</div><!-- /.timeline -->

{% endblock %}
