<div class="module">

    {% include "partials/rif-book.html" %}

    <h1 class="rif-book-margin-top">Gallery</h1>

    <div class="gallery-filter-wrapper">

        <div class="row">
            <div class="contest-filter rif-form">
                <span>
                    <div class="select">
                        <span class="arr"></span>
                        <select id="contest-filter">
                            <option value="">All Contests</option>
                            <option value=".2016">2016 Contest</option>
                            <option value=".2015">2015 Contest</option>
                        </select>
                    </div>
                </span>
                <span>                
                    <div class="select">
                        <span class="arr"></span>
                        <select id="type-filter">
                            <option value="">All Types</option>
                            <option value=".poem">Poems</option>
                            <option value=".essay">Essays</option>
                            <option value=".poster">Posters</option>
                        </select>
                    </div>
                </span>
            </div>
        </div>

    </div>

    <div class="gallery">
        <div class="brick essay 2015">
            <div class="circle-text bg-blue">
                <div class="header">2015 Essay</div>
                <div class="description">Donsed odio dui. Vestibulum id ligula porta felis euismod semper. Integer posuere erat a ante venenatis.</div>
                <a href="#">Read story -></a>
            </div>
        </div>
        <div class="brick poem 2015">
            <div class="circle-text bg-orange">
                <div class="header">2015 Poem</div>
                <div class="description">Donsed odio dui. Vestibulum id ligula porta felis euismod semper. Integer posuere erat a ante venenatis.</div>
                <a href="#">Read Story -></a>
            </div>
        </div>
        <div class="brick essay 2016">
            <div class="gallery-image-item">
                <a href="#">
                    <img src="images/CMS/Contests/ReadingIsSnowMuchFun.png" />
                    <div class="header">2016 Essay</div>
                    <div class="description">Donsed odio dui. Vestibulum id ligula porta felis euismod semper. Integer posuere erat a ante venenatis.</div>
                </a>
            </div>
        </div>
        <div class="brick poster 2015">
            <div class="gallery-image-item">
                <a href="#">
                    <img src="images/CMS/Contests/control.png" />
                    <div class="header">2015 Poster</div>
                    <div class="description">Donsed odio dui. Vestibulum id ligula porta felis euismod semper. Integer posuere erat a ante venenatis.</div>
                </a>
            </div>
        </div>
        <div class="brick essay 2016">
            <div class="circle-text bg-blue">
                <div class="header">2016 Essay</div>
                <div class="description">Donsed odio dui. Vestibulum id ligula porta felis euismod semper. Integer posuere erat a ante venenatis.</div>
                <a href="#">Read story -></a>
            </div>
        </div>
        <div class="brick essay 2016">
            <div class="circle-text bg-orange">
                <div class="header">2016 Essay</div>
                <div class="description">Donsed odio dui. Vestibulum id ligula porta felis euismod semper. Integer posuere erat a ante venenatis.</div>
                <a href="#">Read Story -></a>
            </div>
        </div>
        <div class="brick poem 2015">
            <div class="circle-text bg-orange">
                <div class="header">2015 Poem</div>
                <div class="description">Donsed odio dui. Vestibulum id ligula porta felis euismod semper. Integer posuere erat a ante venenatis.</div>
                <a href="#">Read Story -></a>
            </div>
        </div>
        <div class="brick poem 2016">
            <div class="gallery-image-item">
                <a href="#">
                    <img src="images/CMS/Contests/letsread.png" />
                    <div class="header">2016 Poem</div>
                    <div class="description">Donsed odio dui. Vestibulum id ligula porta felis euismod semper. Integer posuere erat a ante venenatis.</div>
                </a>
            </div>
        </div>
        <div class="brick poster 2016">
            <div class="gallery-image-item">
                <a href="#">
                    <img src="images/CMS/Contests/readingissnowmuchfun.png" />
                    <div class="header">2016 Poster</div>
                    <div class="description">Donsed odio dui. Vestibulum id ligula porta felis euismod semper. Integer posuere erat a ante venenatis.</div>
                </a>
            </div>
        </div>
        <div class="brick essay 2015">
            <div class="circle-text bg-blue">
                <div class="header">2015 Essay</div>
                <div class="description">Donsed odio dui. Vestibulum id ligula porta felis euismod semper. Integer posuere erat a ante venenatis.</div>
                <a href="#">Read story -></a>
            </div>
        </div>
    </div>
</div>

<script>
    $(function() {
        var wall = new Freewall(".gallery");
        wall.reset({
            selector: '.brick',
            animate: true,
            cellW: 300, 
            cellH: 'auto',
            fixSize: 0,
            gutterY:80,
            onResize: function() {
                wall.refresh();
            }
        });
        
        wall.fitWidth();
        
        $('#type-filter').on('change', function() {
            var typeFilter = this.value ; // or $(this).val()
            
            var contestFilter = $("#contest-filter").val();
            
            filterFreeWall(typeFilter, contestFilter)
        });
        
        $('#contest-filter').on('change', function() {
            var contestFilter = this.value ; // or $(this).val()
            
            var typeFilter = $("#type-filter").val();
            
            filterFreeWall(typeFilter, contestFilter)
        });
        
        
        function filterFreeWall(typeFilter, contestFilter){
            if (typeFilter != "" && typeFilter != undefined) {
                if (contestFilter !="" && contestFilter != undefined){
                    typeFilter = typeFilter + " , " + contestFilter;
                }
                alert("Case 1: " + typeFilter);
                wall.filter(typeFilter);
            } else {
                alert("Case 2: " + contestFilter);
                if (contestFilter !="" && contestFilter != undefined){
                    wall.filter(contestFilter);
                }else{
                    wall.unFilter();
                }
            }             
        }
    });

</script>