<div class="home-hero module">
  
    {% include "partials/rif-book.html" %}

    <div class="row">
        <div class="wrapper">
            <div class="top-circle">
                <div class="circle-img blue medium" data-scroll-speed="10">
                    <img src="../images/cms/circle-img-test-2.jpg" alt="Image Alt" />
                </div>
            </div><!-- .top-circle -->

            <h1>Changing the Lives of Chicago's Children Through the Power of Books.</h1>

            <div class="bottom-circles">
                <div class="left">
                    <div class="circle-img green small" data-scroll-speed="8">
                        <img src="../images/cms/circle-img-test-2.jpg" alt="Image Alt" />
                    </div>
                </div>
                <div class="right">
                    <div class="circle-img orange large" data-scroll-speed="3">
                        <img src="../images/cms/circle-img-test.jpg" alt="Image Alt" />
                    </div>
                </div>
            </div><!-- /.bottom-circles-->

        </div><!-- /.wrapper -->
    </div><!-- /.row -->

    <div class="donation">
        <h3>Give Monthly</h3>
        <div class="rif-form">
            <span>
                <span>$</span>
                <input type="text" placeholder="Per Month" />
            </span>
            <span>
                <input type="text" placeholder="Something" />
            </span>
            <a href="" class="btn green">Submit</a>
        </div>
    </div>

    <div class="donation-note">A new book not only brings joy - it helps end the cycle of poverty. You can change lives today by giving the gift that lasts a lifetime.</div>

</div><!-- /.home-hero -->
