<div class="container">
    <div class="logo-nav">
        <div class="logo">
            <a href="index.html">
                <img src="../images/rif-logo.png" class="desktop" />
                <img src="../images/rif-logo-mobile.png" class="mobile" />
            </a>
        </div>
        <div class="mobile-nav-toggle">
            <span></span>
        </div>
        <nav class="main-navigation">
            <ul>
                <li><a href="programs.html" title="Programs & Initiatives">Programs & Initiatives</a></li>
                <li><a href="community.html" title="Get Involved">Get Involved</a></li>
                <li><a href="about-us.html" title="About Us">About Us</a></li>
                <li><a href="#" title="Book Club">Book Club</a></li>
                <li class="last"><a href="donation.html" title="Donate">Donate</a></li>
            </ul>
        </nav>
    </div>
</div>
