<div class="text-left-image-right module">

    <div class="row">

        <div class="content">
            <div>
                <h3>Adolescents at Risk</h3>
                <p>Cras mattis consectetur purus sit amet fermentum. Donec sed odio dui. Vestibulum id ligula porta felis euismod semper. Integer posuere erat a ante venenatis dapibus posuere velit aliquet.</p>
                <p><a href="#" title="Link Title" class="text-cta">Read more</a></p>
            </div>
        </div>

        <div class="image">
            <!-- class changes the color: orange, blue, green, white, purple -->
            <div class="img-overlay purple">
                <img src="../images/cms/placeholder-image.jpg"/>
            </div>
        </div>

    </div><!--/.row -->
</div><!-- /.text-left-image-right -->
