<div class="text-with-circle-images module">

    <div class="row">

        <div class="images">
            <div class="circle-img green small">
                <img src="../images/cms/circle-img-test-2.jpg" alt="Image Alt"/>
            </div>
            <div class="circle-img orange large">
                <img src="../images/cms/circle-img-test.jpg" alt="Image Alt" />
            </div>
        </div>

        <div class="content">
            <h3>Englewood Initiative</h3>
            <p>Cras mattis consectetur purus sit amet fermentum. Donec sed odio dui. Vestibulum id ligula porta felis euismod semper. Integer posuere erat a ante venenatis dapibus posuere velit aliquet.</p>
        </div>

    </div><!--/.row -->
</div><!-- /.text-with-circle-images -->

