<div class="vertical-timeline module">
    {% include "partials/title-and-text.html" %}

    <!-- 2 display types they can add -->
    <div class="wrapper">
        
        <!-- "image block" item -->
        <div class="item image-item">
            <div class="left">
                <div class="circle-img orange large">
                    <img src="images/cms/circle-img-test.jpg" alt="Image Alt">
                </div>
            </div>
            <div class="divider"></div>
            <div class="right">
                <h3 class="title">Consectetur Etiam Tristique</h3>
                <p>Cras mattis consectetur purus sit amet fermentum. Donec sed odio dui. Vestibulum id ligula porta felis euismod semper.</p>
            </div>
        </div>
        <!-- /.image-item -->

        <!-- "text block" item -->
        <div class="item text-item">
            <div class="left">
                <h3 class="title">Consectetur Etiam Tristique</h3>
                <p>Cras mattis consectetur purus sit amet fermentum. Donec sed odio dui. Vestibulum id ligula porta felis euismod semper.</p>
            </div>
            <div class="divider"></div>
            <div class="right">
                {% include "partials/colored-callout-box.html" %}
            </div>
        </div>
        <!-- /.text-item -->

    </div>
</div>
