@import "../variables";
@import "../mixins";

.three-equal-col {
    @include make-row;

    @media #{$media-desktop-view} {
        display: flex;
        justify-content: space-between;
    }

    > div {
        @include make-md-column(3);

        @media #{$media-mobile-view} {
            margin-top: $v-spacing-sm;

            &:first-child {
                margin-top: 0;
            }
        }
    }
}
