@import "../variables";

article.blog-post {
    header {
        position: static;
        
        .metadata {
            display:none;
        }
    }
}

.zone {  

    & > article.blog, & > article.blog-post {
        
        & > header {
            @include rif-book-prefix;
        }
        
        ul.blog-posts{
            margin-top: 30px;
            li {
                list-style-type: none;
                margin-bottom:$v-spacing-sm;
                
                article.blog-post {
                    header {
                        h1 {
                            text-align: left;
                        }
                    }
                }
            }
        }
        
        .metadata {
                display:none;
            }
    }
}
