@import "../variables";
@import "../mixins";


header { 
    background:$white; 
    left:0;
    position:fixed;
    top:0;
    width:100%;
    z-index:1000;  

    @media #{$media-mobile-view} {
    	height:auto;
		transition:height 0.4s ease; 
    	
    	&.nav-open {
    		height: 100%;
    	} 

        > .container {
            width:100%; 
        }
    }  
}