@import "../variables";
@import "../mixins";

.logo-nav { 
    @include make-row;
    padding: $v-spacing-xs 0; 
    position: relative;

    @media #{$media-mobile-view} {
        align-items: center;
        box-shadow: 0 3px 5px 0 rgba(0,0,0,.08);
        -webkit-box-shadow: 0 3px 5px 0 rgba(0,0,0,.08);
        display: flex;
        padding-left:20px;
    }

    @media #{$media-desktop-view} {
        padding: $v-spacing-sm 0;
    }

    .mobile-nav-toggle {
        @include make-xs-column(8);
        text-align: right;

        span {
            display: inline-block;

            &:after {
                @include font-awesome;
                color: $light-green;
                content: $fa-var-bars;
                font-size: 35px;
            }
        }

        @media #{$media-desktop-view} {
            display: none;
        }
    }

    .logo {
        @include make-xs-column(4);
        @include make-md-column(2);
        @include make-lg-column(3);

        @media #{$media-mobile-view} {
            padding-left:0;
        }

        @media #{$media-desktop-view} {
            left: 0;
            position: absolute;
            top: 15px;
        }

        a {
            display: inline-block;

            @media #{$media-desktop-view} {
                padding: 10px;
            }

            @media #{$media-md-min} {
                margin-left: -10px;
            }
        }

        img {
            @include img-responsive;
            $logo-transition: all .3s ease;

            @media #{$media-xxs} {
                margin: auto;
                max-height: 150px;
            }

            &.desktop {
                @media #{$media-mobile-view} {
                    display: none;
                }
            width: 100%;
            transition: $logo-transition;
            }
            &.desktop-scrolled{
                width: 150px;
                margin-top: -50px;
                transition: $logo-transition;
                -webkit-clip-path: circle(25% at 50% 50%);
                clip-path: circle(25% at 50% 50%);
            }

            &.mobile {
                @media #{$media-desktop-view} {
                    display: none;
                }
            }
        }
    }

    nav {
        @include make-sm-column(8);
        @include make-md-column(12);

        @media #{$media-desktop-view} {
            display: block !important;
        }

        @media #{$media-mobile-view} {
            background: $white;
            height:0;
            left: 0;
            opacity:0;
            padding:0;
            position: absolute;
            text-align:right;
            top: 100px;
            width: 100%;
            visibility:hidden;
            z-index: 10;
            transition: all 0.4s ease;  
        }
    }
}

@media #{$media-mobile-view} { 
    .nav-open {
        .logo-nav { 
            nav {
                height:auto;
                opacity:1;
                visibility: visible;
            }
            .mobile-nav-toggle {
                span { 
                    &:after {
                        content: $fa-var-times;
                    }
                }

            } 
        }
    }
}
