@import "../variables";
@import "../mixins";

.logo-nav {
    @include make-row;
    padding: $v-spacing-xs 0;
    position: relative;

    @media #{$media-mobile-view} {
        align-items: center;
        display: flex;
    }

    @media #{$media-desktop-view} {
        padding: $v-spacing-sm 0;
    }

    .mobile-nav-toggle {
        @include make-xs-column(8);
        text-align: right;

        span {
            display: inline-block;

            &:after {
                @include font-awesome;
                color: $green;
                content: $fa-var-bars;
                font-size: 35px;
            }
        }

        @media #{$media-desktop-view} {
            display: none;
        }
    }

    .logo {
        @include make-xs-column(4);
        @include make-md-column(2);
        @include make-lg-column(3);

        @media #{$media-desktop-view} {
            left: 0;
            position: absolute;
            top: 15px;
        }

        a {
            display: inline-block;

            @media #{$media-desktop-view} {
                padding: 10px;
            }

            @media #{$media-md-min} {
                margin-left: -10px;
            }
        }

        img {
            @include img-responsive;

            @media #{$media-xxs} {
                margin: auto;
                max-height: 150px;
            }

            &.desktop {
                @media #{$media-mobile-view} {
                    display: none;
                }
            }

            &.mobile {
                @media #{$media-desktop-view} {
                    display: none;
                }
            }
        }
    }

    nav {
        @include make-sm-column(8);
        @include make-md-column(12);

        @media #{$media-desktop-view} {
            display: block !important;
        }

        @media #{$media-mobile-view} {
            background: $white;
            display: none;
            left: 0;
            position: absolute;
            text-align:right;
            top: 100%;
            width: 100%;
            z-index: 10;
        }
    }
}
