@import "../variables";
@import "../mixins";

.responsive-iframe {
    height: 0;
    overflow: hidden;
    padding-top: 35px;
    padding-bottom: 56.25%;
    position: relative;

    iframe {
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
    }
}