.article-container{
    @include clearfix;
    width: 100%;
    padding: 20px 0px 20px 0px;
    border-bottom: 1px solid #ccc;
    .article-preview-image{
        width: 33%;
        max-width: 300px;
        float: left;
    }
    .article-preview-text-container{
        display: inline;
        float: left;
        width: 66%;
        padding-left: 30px;
        padding-top: 100px;
        .article-headline{
            font-size: 32px;
            color: $black;
        }
    }
}