@import "../variables";
@import "../mixins";

.circle-text
{
    width:200px;
    height:200px;
    border-radius:100px;
    color:#fff;    
    padding:40px 10px 10px 30px;
    position:relative;
    display:inline-block;
    margin:20px;
    
    .header{
        text-transform: uppercase;
        font-weight:bold;
    }
    
    .description{
        font-size: 11px;
        margin-left:-10px;
    }
    
    a {
        color:$white;
        text-decoration: none;
        text-transform: uppercase;
        position:absolute;
        font-weight:bold;
        bottom:35px;
    }
}