@import "../variables";
@import "../mixins";

.image-video-text-hero {

    .wrapper {
        @include color-text($white);
        @include make-md-column(8);
        @include make-md-column-offset(2);
        margin-top: $v-spacing-sm;

        .clearfix {
            @media #{$media-desktop-view} {
                align-items: center;
                display: flex;
            }
        }

        .left,
        .right {
            @include make-md-column(6);
        }

        .right {
            /*padding: $v-spacing-lg $v-spacing-sm;*/
        }

        .left {
            .img-wrapper {
                
                    margin-left:70px;
                    
                    @media #{$media-mobile-view}{
                        margin:0 auto;
                    }
                img {
                    @include box-shadow;
                     @media #{$media-mobile-view} {
                        margin: 0 auto ;
                     }
                }

               

                @media #{$media-md-min} {
                    width: 120%; 
                }

                @media #{$media-lg-min} {
                    width: 150%;
                }
            }
        }

        h1 {
            line-height: 36px;
            margin: 20px 0;
            text-align: left;
        }

        p {
            margin: 0;
        }
    }
}
