@import "../variables";
@import "../mixins";

.large-text-image-video-hero {

    .wrapper.large {
        @include make-md-column(12);
        @include make-md-column-offset(0);

        @media #{$media-desktop-view} {
            align-items: center;
            display: flex;
        }

        .left {
            @include make-md-column(4);
            @include make-md-column-offset(1);
            padding-bottom: 0;
            padding-top: 0;

            @media #{$media-desktop-view} {
                margin-right: - $grid-gutter-width-double;
                padding-right: 0;
                z-index: 1;
            }

            > div {
                padding: $v-spacing-sm;

                @media #{$media-desktop-view} {
                    padding: $v-spacing-lg $v-spacing-sm;
                }

                h1 {
                    margin-top: 0;
                }
            }
        }

        .right {
            @include make-md-column(7);

            .img-wrapper {
                width: 100%;
            }
        }
    }
}
