@import "../variables";
@import "../mixins";

.three-column-image {

    h5 {
        color:$light-grey;
        margin-bottom:$v-spacing-sm;
        text-align:center;
    }

    img {
        margin:auto;
    }

    .three-equal-col {
        > div {
            @media #{$media-desktop-view} {
                align-content:center;
                display:flex;
            }
        }
    }
}
