@import "../variables";
@import "../mixins";

.three-equal-col {
    @media #{$media-mobile-view} {
        margin-left: 0;
        margin-right: 0;
    }

    div.home-donate-call-to-action {
        @include color-text($white);
        background: $light-blue;
        border-radius: $default-border-radius;
        padding: $grid-gutter-width-half 10px;
        text-align: center;

        h2, p {
            margin: 0 0 15px;
        }
    }
}