@import "../variables";
@import "../mixins";

.one-equal-col > h5 {
    color:$light-grey;
    margin-bottom:$v-spacing-sm;
    text-align:center;
}
    
.three-equal-col {
    > img {
        margin:auto;
        @media #{$media-desktop-view} {
            align-content:center;
            display:flex;
        }
    }
}

