@import "../variables";
@import "../mixins";

.equal-col {
    text-align: center;

    .circle-img {
        display: block;
        margin: 0 auto $v-spacing-sm;
    }

    h3 {
        margin-bottom: $v-spacing-xs;
    }
}
